*{
	margin:0;
	padding:0;
}
body{
	line-height: 1;
	background-image:url("header_bg.png");
	background-repeat:repeat-x;
	font-size:15px;
	font-family: Arial;
}
.container{
	position:relative;
	max-width:900px;
	margin: 5px auto;
	//border: 1px solid green;
	padding-bottom: 30px;
}
/*HEADER */
div#header{
	position: relative;
}
/* search design */
div#mainsearch{
	position:relative;
	top:;
	left: ;
}
button#searchbutton{
	background-image:url("search_button.png");
	position:relative;
	top:5px;
	width:19px;
	height:19px;
}
span#lang{
	color:white;
}
input#searchbox{
	height:19px;
	background-image:url("search_input.png");
	font-size: 12px;
	text-align: right;	
}
/* logonav design*/
div#logonavline{
	position:relative;
	
}
/*logo design*/
div.logo{
	position:absolute;
	right:-9px;
	top: 2px;
	direction:rtl;
	text-align: right;		
}
img#logo{
	width:143px;
	height:92px;
}
/*menu design */

nav.homenav{
	position:absolute;
	margin: 0 auto;	
	max-width:1000px;
	top:44px;
	right:120px;
	font-weight:bold;
}
ul#main-menu li{
	float:right;
	position:relative;
	text-align: center;
	
}
ul#main-menu>li.sep{
	background: url("menu_sep.png") no-repeat 0 0 ;
	width: 4px;
    height: 21px;
    margin: 0 16px;
}
ul#main-menu, ul.submenu1{
	list-style-type: none;
	display:block;
}

ul#main-menu  a{
	text-decoration: none;
	display:block;
	color: white;
	background-color: ;
	border: 1px solid #ed142;
	
}
ul#main-menu li:hover > a{
	background-color: #F7BE81;
	
	
}

ul#main-menu ul.submenu1{
	padding-top: 3px;
	display: none;
	position:absolute;
	background: #909090 url("menu_dropdown_bg.png") repeat-x 0 0;
}
ul#main-menu ul.submenu1 li {
	width:100px;
	padding: 5px 0;
}

ul#main-menu li:hover ul.submenu1{
	display: block;
	z-index: 1000;
}
ul#main-menu ul.submenu li.sep{
	background:url("menu_dropdown_sep.png") repeat-x 0 0 ;
	width: 100%;
    zoom: 1;
    padding: 0;
    margin: 0;
    height: 1px;
}
/* first gallery */
div#firstgallery{
	position:relative;
	direction: rtl;
	margin-top: 10px;
	margin: 0 auto;
	top: 108px;
	
}


div.galleryone{
	position:relative;
	display:inline-block;
	margin:0 3px 0 3px;	
}
img.galleryone{
	border-bottom-right-radius: 19px;
}
div.text-gal1{
	margin-right:5px;
	position:relative;
	bottom:0;
	right:0;
    width: 228px;
    height: 77px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    left: 38px;
    bottom: 6px;
    color: #fff;
    background-image: url("hp_tab_text_bg.png");
   }
div.text-gal1 p{
	font-size: 13px;
} 
   div.text-gal1 span{
	direction: ltr;
	text-decoration: underline;
   	font-size: 13px;
   }
div#kim{
	
	top:0;
	right:0;

}

div#zikuk{

	top:0;
	right:0;
}

div#industry{
		
	top:0;
	right:0;
}
/* sec gallery */
div#secgallery{
	position:relative;
	margin-top:150px;
	margin-bottom: 20px;
}
div.gal2{
	position: relative;
    float: right;
    width: 244px;
    padding: 0 24px;
    height: 218px;
    background: url("cube_bg.png") no-repeat 0 0 ;
	color: #575757;
	margin: 4px;
	
	
}
div.gal2 h3{
	position: relative;
	font-size: 14px ;
	font-weight: bold;
	text-align: right;
	line-height:34px;
	
}
 span#banner2,span#banner3{
	display: none;
}
div#stations{
	position: relative;
    float: right;
    width: 50px;
    height: 123px;
    top: -163px;
}

/* footer - fxed */
footer#pazfooter{
	margin-top:20px;
}

div.footerFix{
	position:fixed;
	background-image:url("footer_bg.png");
	right:0;
	bottom:0;
	width:100%;
	direction: rtl;
	text-align: right;
	height: 38px;
	
	
}
ul.footermenu{
	text-decoration: none;
	color: #FFFFFF;
	margin: 10px auto;
	max-width:900px; 
	
}
 ul.footermenu li {
 	display: inline;
 }
 ul.footermenu li a{
 	
 }




